<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <title>GradTrackr</title>
    </head>
    <body>
        <h1>Hello World</h1>

        <% if(user) { %>
            <p>You are logged in!</p>
        <% } else { %>
            <a href="/auth/google">Sign In with Google</a>
        <% } %>
        
    </body>
</html>



