<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>GradTrackr</title>
    </head>
    <body>
        <h1>Hello World</h1>

        <% if(user) { %>
            <p>You are logged in!</p>
        <% } else { %>
            <a href="/auth/google">Sign In with Google</a>
        <% } %>
        
    </body>
</html>



